.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .entryCard {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 24px;
  }

.entry {
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.entryTitle {
    color: #22223B; 
    margin-bottom: 10px;
}

.entryDate, .entryMood, .entryContent {
    color: #4A4E69; 
    line-height: 1.6;
}

.entryMood {
    font-style: italic;
}

.alert {
    margin-bottom: 20px;
}