.customCalendar {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reactCalendar {
  border: none;
}

.navigationButton {
  color: #ffffff;
  background-color: #007bff;
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigationButton:hover {
  background-color: #0056b3;
}

.monthViewWeekdays {
  color: #007bff;
  font-weight: bold;
}

.monthViewDaysDayWeekend {
  color: #d9534f;
}

.tile {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
}

.tile:hover {
  background-color: #e9ecef;
}

.tileActive {
  background-color: #007bff !important;
  color: white !important;
}

.greenTile {
  background-color: #28a745;
  color: white;
}

.dateIndicator {
  background-color: #ffdfba;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: auto;
}